<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="agents" type="java.util.List<com.huotu.hotagent.service.entity.role.agent.Agent>"*/-->
<!--/*@thymesVar id="agentSearch" type="com.huotu.hotagent.service.model.AgentSearch"*/-->
<!--/*@thymesVar id="agentLevels" type="java.util.List<com.huotu.hotagent.service.entity.role.agent.AgentLevel>"*/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/png">

    <title>代理商后台</title>

    <link href="../../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}" rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/libs/layer/skin/layer.css" th:href="@{/assets/libs/layer/skin/layer.css}"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.1.0/respond.min.js"></script>

    <![endif]-->
</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="leftpanel" th:replace="views/common/left :: left (activeMenu='agentList')">


    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:replace="views/common/header :: header">


        </div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-search"></i> 代理商列表</h2>
        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">搜索</h3>

                    <form id="searchForm" action="agent_list.html" th:action="@{/agentList}" method="get" th:object="${agentSearch}">
                        <input type="hidden" name="pageNo" value="1" th:value="${currentPage}"/>

                        <p>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    代理商姓名
                                </span>
                                    <input type="text" name="agentName" th:value="*{agentName}" class="form-control" aria-label="...">
                                </div><!-- /input-group -->
                            </div>
                            <div>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    创建时间
                                </span>
                                    <input type="text" class="form-control" placeholder="起始时间" name="beginTime" th:value="*{beginTime}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" class="form-control" placeholder="结束时间" name="endTime" th:value="*{endTime}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div><!-- /input-group -->
                            </div>
                        </div>


                        </p>
                        <p>

                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                               <span class="input-group-addon">
                                    代理商类型
                                </span>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="typeSelectBtn" style="width: 128px;"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="*{agentType}==-1 ? '请选择':(*{agentType}==0 ? '普通代理':'独家代理')">请选择 <span class="caret"></span></button>
                                        <ul id="typeSelect" class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" type-value="-1">请选择</a></li>
                                            <li><a href="#" type-value="0">普通代理</a></li>
                                            <li><a href="#" type-value="1">独家代理</a></li>
                                        </ul>
                                        <input type="hidden" name="agentType" th:value="*{agentType}"/>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div>
                            <!--<div class="col-lg-4">-->
                                <!--<div class="input-group">-->
                               <!--<span class="input-group-addon">-->
                                    <!--代理商等级-->
                                <!--</span>-->

                                    <!--<div class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default dropdown-toggle" id="levelSelectBtn" style="width: 163px;"-->
                                                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择 <span class="caret"></span></button>-->
                                        <!--<ul id="levelSelect" class="dropdown-menu dropdown-menu-right">-->
                                            <!--<li><a href="#" level="-1">请选择</a></li>-->

                                            <!--<li th:each="agentLevel:${agentLevels}">-->
                                                <!--<a href="#" th:attr="level=${agentLevel.level}" level="0"  th:text="${agentLevel.levelName}">一级代理商</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->

                                        <!--<input type="hidden" name="agentLevel" th:value="*{agentLevel}"/>-->
                                    <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="col-lg-1">-->
                                <a class="btn btn-white submitSearch" href="javascript:$('#searchForm').submit()">查询</a>
                            <!--</div>-->

                            <!--<div class="col-lg-1">-->
                                <a class="btn btn-white resetSearch" href="agent_list.html" th:href="@{/agentList}">显示全部</a>
                            <!--</div>-->
                        </div>
                        </p>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb30">
                            <thead>
                            <tr>
                                <th></th>
                                <th>代理商名称</th>
                                <th>代理商类型</th>
                                <th>代理商等级</th>
                                <th>上级代理</th>
                                <th>区域</th>
                                <th>账户余额</th>
                                <th>佣金</th>
                                <th>创建时间</th>
                                <th>代理商状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">

                            <tr th:each="agent,agentStat:${agents}">
                                <td th:text="${agentStat.index+1}"></td>
                                <td th:text="${agent.name}">火图科技</td>
                                <td th:text="${agent.type.name}">独家代理</td>
                                <td th:text="${agent.level.levelName}">一级代理商</td>
                                <td th:text="${agent.parent==null?'总部':agent.parent.name}">总部</td>
                                <td th:text="${agent.province+'/'+agent.city}">杭州</td>
                                <td th:text="${agent.balance}">1000</td>
                                <td th:text="${agent.commission}">88</td>
                                <td th:text="${#dates.format(agent.createTime,'yyyy-MM-dd HH:mm:ss')}">2015-12-12 00:00:00</td>
                                <td th:text="${agent.getStatus()}">活动</td>
                                <td><a onclick="editAgent(this)" th:attr="id=${agent.id}">修改</a>
                                    <a onclick="showDetail(this)" th:attr="id=${agent.id}">查看</a>
                                    <a onclick="Import(this)" th:attr="id=${agent.id}">充值</a>
                                    <a th:if="${agent.accountNonLocked}" th:attr="id=${agent.id}" th:value="1" onclick="lockAgent(this)"  th:text="冻结" ></a>
                                    <a th:if="${agent.accountNonLocked}==false" th:attr="id=${agent.id}" th:value="0" onclick="lockAgent(this)"  th:text="解冻"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>火图科技</td>
                                <td>独家代理</td>
                                <td>一级代理商</td>
                                <td>总部</td>
                                <td>杭州</td>
                                <td>1000</td>
                                <td>88</td>
                                <td>2015-12-12 00:00:00</td>
                                <td>活动</td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>火图科技</td>
                                <td>独家代理</td>
                                <td>一级代理商</td>
                                <td>总部</td>
                                <td>杭州</td>
                                <td>1000</td>
                                <td>88</td>
                                <td>2015-12-12 00:00:00</td>
                                <td>活动</td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <p style="float: left;margin: 20px 0;">共<span id="totalRecordSpan" th:text="${totalRecord}">100</span>条</p>
                    <ul style="float: right;" class="pagination pagination-split">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                </div><!-- panel-body -->
            </div><!-- panel -->

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->


</section>

<!--基本js-->
<script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
<script src="//cdn.bootcss.com/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
<script src="//cdn.bootcss.com/retina.js/1.3.0/retina.min.js"></script>
<script src="../../assets/js/jquery.cookies.js" th:src="@{/assets/js/jquery.cookies.js}"></script>

<!--一些控件-->
<!--<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>-->

<!--框架基础js-->
<script src="../../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
<script src="../../assets/libs/layer/layer.js" th:src="@{/assets/libs/layer/layer.js}"></script>

<script type="application/javascript" src="../../assets/js/bootstrap.hot.extras.js" th:src="@{/assets/js/bootstrap.hot.extras.js}"></script>
<script src="../../assets/js/hot/jquery.utils.js" th:src="@{/assets/js/hot/jquery.utils.js}"></script>

<script type="application/javascript" th:inline="javascript">
    var ajaxUrl = /*[[@{/agent/api/}]]*/ "";
    var pageIndex = /*[[${pageIndex}]]*/ 1;
    var pageSize = /*[[${pageSize}]]*/ 20;
    var totalRecord = $("#totalRecordSpan").html();
</script>
<script>
    function editAgent(obj) {
        var id = $(obj).attr("id");
        location.href = "/editAgent?id=" + id;
    }
    //详情
    function showDetail(obj) {
        var id = $(obj).attr("id");
        layer.open({
            type: 2,
            title: '代理商详情',
            shadeClose: true,
            shade: 0.8,
            area: ['580px', '50%'],
            content: '/lowAgentDetail/'+id
        });
    }

    //充值
    function Import(obj) {
        var id = $(obj).attr("id");
        layer.open({
            type: 2,
            title: '代理商充值',
            shadeClose: true,
            shade: 0.8,
            area: ['998px', '666px'],
            content: '/agentImport/'+id
        });
    }


    //冻结，解冻
    function lockAgent(obj) {

        var id = $(obj).attr("id");
        var bl = $(obj).attr("value");

        $.ajax({
            type: "POST",
            url: "lockAgent" ,
            dataType: "json",
            data:{
                id:id,
                bl:bl
            },
            success: function (msg) {
                layer.msg("冻结成功",{time: 2000});
                setTimeout(function(){
                            window.location.reload();
                        }
                        ,1000);
            }
        })
    }
</script>
<script type="application/javascript">
    jQuery(document).ready(function () {
        var paginate = new paging($(".pagination"), pageIndex, pageSize, totalRecord, 8);
        paginate.init(function (p) {
            $('input[name=pageIndex]').val(p);
            $('#searchForm').submit();
        });

        // Date Picker
        $('input[name=beginTime]').datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#endTime").datepicker("option", "minDate", selectedDate);
            }
        });

        $("input[name=endTime]").datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#beginTime").datepicker("option", "maxDate", selectedDate);
            }
        });

        var currentLevelId = $("input[name=level]").val();
        if (currentLevelId != "" && currentLevelId != null)
            $("#levelSelectBtn").html($("#levelSelect a[level=" + currentLevelId + "]").html());
        var currentAgentType = $("input[name=type]").val();
        if (currentAgentType != "" && currentAgentType != null);
        $("#typeSelectBtn").html($("#typeSelect a[type-value=" + currentAgentType + "]").html());

        $("#typeSelect li a").click(function () {
            $("#typeSelectBtn").html($(this).html());
            $("input[name=agentType]").val($(this).attr("type-value"));
        });

        $("#levelSelect li a").click(function () {
            $("#levelSelectBtn").html($(this).html());
            $("input[name=agentLevel]").val($(this).attr("level"));
        });
    });
</script>

</body>
</html>
