<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/png" th:href="@{/assets/images/favicon.png}">

    <title>修改代理商</title>


    <link rel="stylesheet" href="../../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}"/>

    <link rel="stylesheet" href="../../assets/libs/layer/skin/layer.css" th:href="@{/assets/libs/layer/skin/layer.css}"/>

    <link rel="stylesheet" href="../../assets/css/bootstrap-fileupload.min.css" th:href="@{/assets/css/bootstrap-fileupload.min.css}"/>

</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
    <div class="leftpanel" th:replace="views/common/left :: left (activeMenu='agentEdit')">

    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:replace="views/common/header :: header">


        </div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-edit"></i> 代理商管理<span>Subtitle goes here...</span></h2>

        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div>
                    <h4 class="panel-title">修改代理商</h4>
                </div>
                <div class="panel-body panel-body-nopadding">

                    <form id="editForm"  th:method="post" class="form-horizontal form-bordered"  enctype="multipart/form-data" >
                        <input type="hidden" name="id" id="id" th:value="${agent}!=null ? ${agent.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理商名称</label>

                            <div class="col-sm-3">
                                <input type="text" name="name" id="name" th:value="${agent}!=null ? ${agent.name}" title="代理商名称" placeholder="代理商名称" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号</label>

                            <div class="col-sm-3">
                                <input type="text" name="username" id="username"  th:value="${agent}!=null ? ${agent.username} : ''" th:readonly="${agent}!=null ? readonly" title="账号" placeholder="账号" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码</label>

                            <div class="col-sm-3">
                                <input type="password" name="password" id="password"  th:value="${agent}!=null ? ${agent.password} : ''" title="密码" placeholder="密码" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理商等级</label>

                            <div class="col-sm-3">
                                <select name="level" id="level"  title="代理商等级" class="form-control input mb10" th:remove="all-but-first">
                                    <option  th:value="${agentLevel.level}" th:text="${agentLevel.levelName}" th:selected="${agent}!=null ? ${agent.level.level}==${agentLevel.level}">二级代理商</option>
                                    <option>二级代理商</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理区域</label>

                            <div id="area">
                                <div class="col-sm-1">
                                    <select name="province" id="province" class="form-control input mb10 prov">
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select name="city" id="city" class="form-control input mb10 city" >
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select name="district" id="district" class="form-control input mb10 dist">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理商类型</label>

                            <div class="col-sm-3">
                                <select name="type" id="type" title="代理商类型" class="form-control input mb10"
                                        th:remove="all-but-first">
                                    <option th:each="agentType:${agentTypes}" th:value="${agentType.value}"
                                            th:text="${agentType.name}"
                                            th:selected="${agent}!=null ? ${agent.type.value}==${agentType.value}">独家代理
                                    </option>
                                    <option>普通代理</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">账户余额</label>

                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="balance" id="balance" th:value="${agent}!=null ? ${agent.balance}" title="充值金额" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">佣金</label>

                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="commission" id="commission" th:value="${agent}!=null ? ${agent.commission}" title="佣金" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系人</label>

                            <div class="col-sm-3">
                                <input type="text" name="contacts" id="contacts" th:value="${agent!=null} ? ${agent.contacts}" placeholder="联系人" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号</label>

                            <div class="col-sm-3">
                                <input type="text" name="phoneNo" id="phoneNo" th:value="${agent!=null} ? ${agent.phoneNo}"  placeholder="手机号" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系地址</label>

                            <div class="col-sm-3">
                                <input type="text" name="address"  id="address" th:value="${agent!=null} ? ${agent.address}"  placeholder="联系地址" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱</label>

                            <div class="col-sm-3">
                                <input type="text" name="mail"  id="mail" th:value="${agent!=null} ? ${agent.mail}" placeholder="电子邮箱" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">QQ</label>

                            <div class="col-sm-3">
                                <input type="text" name="qq" id="qq" th:value="${agent!=null} ? ${agent.qq}" placeholder="QQ号" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">伙伴商城价格</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="huobanMall" id="huobanMall" th:value="${huobanMall!=null} ? ${huobanMall}" title="伙伴商城价格" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">DSP广告</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="dsp" id="dsp" th:value="${dsp!=null} ? ${dsp}" title="DSP广告价格" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">云商学院</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="hotEdu" id="hotEdu" th:value="${hotEdu!=null} ? ${hotEdu}" title="云商学院价格" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代运营</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="number" name="thirdPartnar" th:value="${thirdPartnar!=null} ? ${thirdPartnar}" id="thirdPartnar" title="代运营价格" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">企业资质</label>

                        <div class="col-sm-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">

                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <img src="" id="previewImg"
                                             th:src="${agent}!=null ? (${agent.qualifyUri!=null} ? @{'/'+${agent.qualifyUri}} : '')">
                                        <input type="hidden" name="qualifyUri" id="qualifyUri"
                                               th:value="${agent}!=null?${agent.qualifyUri}:''">
                                    </div>
                                </div>
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                      <span class="fileupload-new">Select file</span>
                                      <span class="fileupload-exists">Change</span>
                                      <input type="file" name="qualify" id="qualify">
                                    </span>
                                </div>
                            </div>
                        </div>
                            </div>

                    </form>

                </div><!-- panel-body -->

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button onclick="editHandler.submit()" class="btn btn-primary">确认</button>
                        </div>
                    </div>
                </div><!-- panel-footer -->

            </div><!-- panel -->
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->


</section>
<script src="../../assets/js/jquery-1.10.2.min.js" th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script src="../../assets/js/jquery-migrate-1.2.1.min.js" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../../assets/js/jquery-ui-1.10.3.min.js" th:src="@{/assets/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../assets/js/jquery.sparkline.min.js" th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script src="../../assets/js/toggles.min.js" th:src="@{/assets/js/toggles.min.js}"></script>
<script src="../../assets/js/retina.min.js" th:src="@{/assets/js/retina.min.js}"></script>
<script src="../../assets/js/jquery.cookies.js" th:src="@{/assets/js/jquery.cookies.js}"></script>
<script src="../../assets/libs/layer/layer.js" th:src="@{/assets/libs/layer/layer.js}"></script>

<script src="../../assets/js/bootstrap-fileupload.min.js" th:src="@{/assets/js/bootstrap-fileupload.min.js}"></script>
<script src="../../assets/js/bootstrap-timepicker.min.js" th:src="@{/assets/js/bootstrap-timepicker.min.js}"></script>

<script src="../../assets/js/jquery.validate.min.js" th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script src="../../assets/js/msgresource/jquery.validation.message-zh_cn.js" th:src="@{/assets/js/msgresource/jquery.validation.message-zh_cn.js}"></script>

<script src="../../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
<script src="../../assets/js/cityselect/jquery.cityselect.js" th:src="@{/assets/js/cityselect/jquery.cityselect.js}"></script>
<script src="../../assets/js/ajaxfileupload.js" th:src="@{/assets/js/ajaxfileupload.js}"></script>
<script src="../../assets/js/agent/agent-add.js" th:src="@{/assets/js/agent/agent-add.js}"></script>

<script th:inline="javascript">
    $("select[name=type]").blur(checkAreaAvaliable);
    function checkAreaAvaliable() {
        var type = $("select[name=type]").val();
        if (type == 1) {
            var city = $("select[name=city]").val();
            $.ajax({
                url: agentUrl+"checkCity",
                data: "city=" + encodeURI(city),
                dataType: "json",
                success: function (data) {
                    if (data.code != 2000) {
                        layer.alert("此城市已经有代理，无法设为独家代理");
                    } else {
//                        $("select[name=type]").closest('.form-group').removeClass('has-error');
                        return false;
                    }
                }
            })
        } else {
            $("select[name=type]").closest('.form-group').removeClass('has-error');
            return true;
        }
    }
    $(function () {
        editHandler.pageInit();
    });
    var prov = /*[[${agent!=null ? agent.province : "浙江"}]]*/ "浙江";
    var city = /*[[${agent!=null ? agent.city : "杭州"}]]*/ "杭州";
    var dist = /*[[${agent!=null ? agent.district : "滨江区"}]]*/ "滨江区";
    var agentUrl = /*[[@{/}]]*/"/";
    $("#area").citySelect({
        prov:prov,
        city:city,
        dist:dist
    });

    var editHandler = {
        pageInit: function () {
            //表单验证初始化
            $("#editForm").validate({
                ignoreTitle: true,
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).remove();
                },
                onfocusout: function (element) {
                    $(element).valid();
                },
                rules: {
                    name: {
                        required : true
                    },
                    password: {
                        required : true
                    },
                    huobanMall: {
                        required : true,
                        min:5000,
                    },
                    dsp: {
                        required : true,
                        min:1000,
                    },
                    hotEdu: {
                        required : true,
                        min:1000,
                    },
                    thirdPartnar: {
                        required : true,
                        min:1000,
                    },
                    mail: {
                        email:true
                    }
                },
                messages: {
                    name: {
                        required : "请输入代理商名称"
                    },
                    password: {
                        required : "请输入密码"
                    },
                    huobanMall: {
                        required : "请输入代理价格",
                        min:"必须大于5000",
                    },
                    hotEdu: {
                        required : "请输入代理价格",
                        min:"必须大于1000",
                    },
                    dsp: {
                        required : "请输入代理价格",
                        min:"必须大于1000",
                    },
                    thirdPartnar: {
                        required : "请输入代理价格",
                        min:"必须大于1000",
                    },
                    mail: {
                        email:"请输入正确的邮箱"
                    }
                },
                errorPlacement:function(error,element) {
                    if(element.attr("name")=="qualifyUri") {
                        error.insertAfter(".input-append");
                    }else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form, ev) {
                    if($("#qualifyUri").val() == ''||$("#qualifyUri").val()==null)
                    {
                        layer.msg("请上传图片", {time: 2000});
                    }
                    else{
                        submitAgent();
                        return false;
                    }

                },
                invalidHandler: function () {
                    return true;
                }
            });
        },
        submit: function () {
            var av = checkAreaAvaliable();
            if(av) {
            submitAgent();
            }
        }
    }
</script>

<script>
    function submitAgent(){
        $.ajax({
            url: agentUrl+"saveEditLowerAg",
            data: {
                id:$("#id").val(),
                name:$("#name").val(),
                agentLevel:$("#level").val(),
                agentType:$("#type").val(),
                balance:$("#balance").val(),
                username:$("#username").val(),
                password:$("#password").val(),
                contacts:$("#contacts").val(),
                huobanMall:$("#huobanMall").val(),
                hotEdu:$("#hotEdu").val(),
                dsp:$("#dsp").val(),
                thirdPartnar:$("#thirdPartnar").val(),
                province:$("#province").val(),
                qualifyUri:$("#qualifyUri").val(),
                city:$("#city").val(),
                district:$("#district").val(),
                phoneNo:$("#phoneNo").val(),
                address:$("#address").val(),
                mail:$("#mail").val(),
                qq:$("#qq").val()
            },
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                var index=parseInt(msg.code);
                switch (index) {
                    case 2000:
                        layer.msg("添加成功,2秒后将自动代理商列表",{time: 2000});
                        setTimeout(function(){
                                    window.location.href="http://"+window.location.host+"/"+"agentList";
                                }
                                ,1000);
                        break;
                    case 4001:
                        layer.msg("您的账户余额不足", {time: 2000});
                        $("#balance").val("");
                        break;
                }
            },
            error: function () {

            }
        });
    }
</script>


</body>
</html>
