<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:agent="http://agent.io"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.default.css" th:href="@{/assets/css/style.default.css}"/>
    <title>左侧菜单栏</title>
</head>
<body>
<div class="leftpanel" th:fragment="left (activeMenu)">

    <div class="logopanel">
        <h1>代理商管理后台</h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">
        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" src="../images/photos/loggeduser.png" class="media-object" th:src="@{/assets/images/photos/loggeduser.png}">

                <div class="media-body">
                    <h4>John Doe</h4>
                    <span>"Life is so..."</span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <h5 class="sidebartitle">Navigation</h5>
        <ul id="sidebar" class="nav nav-pills nav-stacked nav-bracket">
            <li agent:active="index"><a href="index.html" th:href="@{/index}"><i class="fa fa-home"></i> <span>首页</span></a></li>
            <li sec:authorize="hasAnyAuthority('MANAGER_ROOT','MANAGER_AGENT')" agent:activeparent="'agentList,agentEdit,agentLevel'" class="nav-parent">
                <a href=""><i class="fa fa-edit"></i> <span>代理商管理</span></a>
                <ul class="children" style="display: block;">
                    <li agent:active="agentList"><a href="general-forms.html" th:href="@{/agents}"><i class="fa fa-caret-right"></i> 代理商列表</a></li>
                    <li agent:active="agentEdit"><a href="form-layouts.html" th:href="@{/agentEditForm}"><i class="fa fa-caret-right"></i> 添加代理商</a></li>
                    <li agent:active="agentLevel"><a href="form-validation.html" th:href="@{/agentLevel}"><i class="fa fa-caret-right"></i> 代理商级别</a></li>
                </ul>
            </li>
            <li sec:authorize="hasAnyAuthority('MANAGER_ROOT','MANAGER_WITHDRAW')" agent:active="withdraw"><a href="index.html"><i class="fa fa-th-list"></i> <span>提现管理</span></a></li>
            <li sec:authorize="hasAnyAuthority('MANAGER_ROOT','MANAGER_PRODUCT')" agent:active="product"><a href="index.html"><i class="fa fa-th-list"></i> <span>产品管理</span></a></li>
            <li agent:active="statistics"><a href="index.html"><i class="fa fa-th-list"></i> <span>数据统计</span></a></li>
            <li sec:authorize="hasAnyAuthority('MANAGER_ROOT')" agent:activeparent="'operatorList,addOperator'" class="nav-parent">
                <a href=""><i class="fa fa-edit"></i> <span>操作员管理</span></a>
                <ul class="children" style="display: block;">
                    <li agent:active="operatorList"><a href="general-forms.html"><i class="fa fa-caret-right"></i> 操作员列表</a></li>
                    <li agent:active="addOperator"><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 添加操作员</a></li>
                </ul>
            </li>
        </ul>
        <style>
            .custom-datainfo {
                margin: 0;
                font-size: 16px;
                color: #fff;
                opacity: 0.7;
            }
        </style>
        <div class="infosummary">
            <h5 class="sidebartitle">Information Summary</h5>
            <ul>
                <li>
                    <div>
                        <span class="custom-datainfo">今日新增代理商总数</span> <h4 style="float: right;" class="custom-datainfo left-new-day">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">本月新增代理商总数</span> <h4 style="float: right;" class="custom-datainfo left-new-month">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">一级代理总数</span> <h4 style="float: right;" class="custom-datainfo left-agentNum-level1">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">下级代理总数</span> <h4 style="float: right;" class="custom-datainfo left-agentNum-under">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">普通代理总数</span> <h4 style="float: right;" class="custom-datainfo left-agentNum-normal">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">独家代理总数</span> <h4 style="float: right;" class="custom-datainfo left-agentNum-sole">100</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="custom-datainfo">总代理费用</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                    </div>
                </li>
            </ul>
        </div><!-- infosummary -->

    </div><!-- leftpanelinner -->
</div><!-- leftpanel -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/retina.js/1.3.0/retina.min.js"></script>
<script src="../js/jquery.cookies.js" th:src="@{/assets/js/jquery.cookies.js}"></script>
<script src="../js/custom.js" th:src="@{/assets/js/custom.js}"></script>
</body>
</html>