<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/png">

    <title>代理商总后台</title>

    <link href="../../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}" rel="stylesheet">
    <link href="../../assets/easyui/themes/default/easyui.css" th:href="@{/assets/easyui/themes/default/easyui.css}">
    <link href="../../assets/easyui/themes/icon.css" th:href="@{/assets/easyui/themes/icon.css}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="leftpanel" th:replace="common/left :: left (activeMenu='product')">

        <div class="logopanel">
            <h1>代理商管理后台</h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../../assets/images/photos/loggeduser.png" class="media-object" th:src="@{/assets/images/photos/loggeduser.png}">

                    <div class="media-body">
                        <h4>John Doe</h4>
                        <span>"Life is so..."</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                    <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                    <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">Navigation</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li><a href="../index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="nav-parent nav-active active">
                    <a href=""><i class="fa fa-edit"></i> <span>代理商管理</span></a>
                    <ul class="children" style="display: block;">
                        <li class="active"><a href="general-forms.html"><i class="fa fa-caret-right"></i> 代理商列表</a></li>
                        <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 添加代理商</a></li>
                        <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> 代理商级别</a></li>
                    </ul>
                </li>
                <li><a href="../index.html"><i class="fa fa-th-list"></i> <span>数据统计</span></a></li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-edit"></i> <span>操作员管理</span></a>
                    <ul class="children" style="display: block;">
                        <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> 操作员列表</a></li>
                        <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 添加操作员</a></li>
                    </ul>
                </li>
            </ul>
            <style>
                .custom-datainfo {
                    margin: 0;
                    font-size: 16px;
                    color: #fff;
                    opacity: 0.7;
                }
            </style>
            <div class="infosummary">
                <h5 class="sidebartitle">Information Summary</h5>
                <ul>
                    <li>
                        <div>
                            <span class="custom-datainfo">今日新增代理商总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">本月新增代理商总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">一级代理总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">下级代理总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">普通代理总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">独家代理总数</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">总代理费用</span> <h4 style="float: right;" class="custom-datainfo">100</h4>
                        </div>
                    </li>
                </ul>
            </div><!-- infosummary -->

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:replace="common/header :: header">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform" action="../index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..."/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="badge">2</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">2 Newly Registered Users</h5>
                                <ul class="dropdown-list user-list">
                                    <li class="new">
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user1.png" alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Draniem Daamul (@draniem)</a> <span class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new">
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user2.png" alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Zaham Sindilmaca (@zaham)</a> <span class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user3.png" alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Weno Carasbong (@wenocar)</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user4.png" alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Nusja Nawancali (@nusja)</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user5.png" alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Lane Kitmari (@lane_kitmare)</a></h5>
                                        </div>
                                    </li>
                                    <li class="new"><a href="">See All Users</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="badge">1</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 1 New Message</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user1.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user2.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Weno Carasbong</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user4.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user5.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Veno Leongal</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">Read All Messages</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-globe"></i>
                                <span class="badge">5</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 5 New Notifications</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user4.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user5.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                      <span class="msg">likes your recent status</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">downloaded your work</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">send you 2 messages</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">See All Notifications</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../../assets/images/photos/loggeduser.png" alt=""/>
                                John Doe
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button id="chatview" class="btn btn-default tp-icon chat-icon">
                            <i class="glyphicon glyphicon-comment"></i>
                        </button>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->


        <div class="contentpanel">
            <div class="panel panel-default">
                <div >
                    <div >
                        <table class="easyui-treegrid"
                               data-options="url:'products',idField:'id',treeField:'productType'">
                            <thead>
                            <tr>
                                <th data-options="field:'name'">产品名称</th>
                                <th data-options="field:'productType'">产品类型</th>
                                <th data-options="field:'basePrice'">单价</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all">
                            <tr th:each="product:${products}">
                                <td th:text="${product.name}">产品A</td>
                                <td th:text="${product.productType.name}">产品类型</td>
                                <td th:text="${product.basePrice}">金额</td>
                                <td><a onclick="editProduct(this)" data-toggle="modal"  data-target="editProduct" th:attr="id=${product.id}">修改</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>产品A</td>
                                <td>类型1</td>
                                <td>100</td>
                                <td>产品A-类型1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>产品B</td>
                                <td>类型2</td>
                                <td>20000</td>
                                <td>产品B-类型2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div><!-- panel-body -->
            </div><!-- panel -->

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>


<!--基本js-->
<script src="../../assets/easyui/jquery.min.js" th:src="@{/assets/easyui/jquery.min.js}"></script>
<script src="../../assets/js/jquery-migrate-1.2.1.min.js" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../../assets/js/jquery-ui-1.10.3.min.js" th:src="@{/assets/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../assets/js/modernizr.min.js" th:src="@{/assets/js/modernizr.min.js}"></script>
<script src="../../assets/js/jquery.sparkline.min.js" th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script src="../../assets/js/toggles.min.js" th:src="@{/assets/js/toggles.min.js}"></script>

<!--框架基础js-->
<script src="../../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
<script src="../../assets/js/hot/jquery.utils.js" th:src="@{/assets/js/hot/jquery.utils.js}"></script>
<script src="../../assets/layer/layer.js" th:src="@{/assets/layer/layer.js}"></script>
<script src="../../assets/easyui/jquery.easyui.min.js" th:src="@{/assets/easyui/jquery.easyui.min.js}"></script>
</body>
</html>
