<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>提现记录详情</title>
    <link href="../../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul style="list-style: none" data-th-object="${record}">
                <li>
                    提现金额：<span data-th-text="*{money}">火图科技</span>
                </li>
                <li>
                    审核状态：<span data-th-text="*{auditStatus.name}">一级代理商</span>
                </li>
                <li>
                    申请时间：<span data-th-text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}">独家代理</span>
                </li>
                <li>
                    所属代理商：<span data-th-text="*{agent.name}">13205713331</span>
                </li>
                <li>
                    代理商留言：<span data-th-text="*{message}">浙江省</span>
                </li>
                <li>
                    管理员回复：<span data-th-text="*{reply}">何芸</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>