<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="agents" type="java.util.List<com.huotu.hotagent.service.entity.role.agent.Agent>"*/-->
<!--/*@thymesVar id="agentSearch" type="com.huotu.hotagent.service.model.AgentSearch"*/-->
<!--/*@thymesVar id="agentLevels" type="java.util.List<com.huotu.hotagent.service.entity.role.agent.AgentLevel>"*/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/png">

    <title>代理商总后台</title>

    <link href="../../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="leftpanel" th:replace="common/left :: left (activeMenu='agentList')">

        <div class="logopanel">
            <h1>代理商管理后台</h1>
        </div>
        <!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../../assets/images/photos/loggeduser.png" class="media-object"
                         th:src="@{/assets/images/photos/loggeduser.png}">

                    <div class="media-body">
                        <h4>John Doe</h4>
                        <span>"Life is so..."</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                    <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                    <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">Navigation</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li><a href="../index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="nav-parent nav-active active">
                    <a href=""><i class="fa fa-edit"></i> <span>代理商管理</span></a>
                    <ul class="children" style="display: block;">
                        <li class="active"><a href="general-forms.html"><i class="fa fa-caret-right"></i> 代理商列表</a></li>
                        <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 添加代理商</a></li>
                        <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> 代理商级别</a></li>
                    </ul>
                </li>
                <li><a href="../index.html"><i class="fa fa-th-list"></i> <span>数据统计</span></a></li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-edit"></i> <span>操作员管理</span></a>
                    <ul class="children" style="display: block;">
                        <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> 操作员列表</a></li>
                        <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 添加操作员</a></li>
                    </ul>
                </li>
            </ul>
            <style>
                .custom-datainfo {
                    margin: 0;
                    font-size: 16px;
                    color: #fff;
                    opacity: 0.7;
                }
            </style>
            <div class="infosummary">
                <h5 class="sidebartitle">Information Summary</h5>
                <ul>
                    <li>
                        <div>
                            <span class="custom-datainfo">今日新增代理商总数</span> <h4 style="float: right;"
                                                                               class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">本月新增代理商总数</span> <h4 style="float: right;"
                                                                               class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">一级代理总数</span> <h4 style="float: right;"
                                                                            class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">下级代理总数</span> <h4 style="float: right;"
                                                                            class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">普通代理总数</span> <h4 style="float: right;"
                                                                            class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">独家代理总数</span> <h4 style="float: right;"
                                                                            class="custom-datainfo">100</h4>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="custom-datainfo">总代理费用</span> <h4 style="float: right;"
                                                                           class="custom-datainfo">100</h4>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- infosummary -->

        </div>
        <!-- leftpanelinner -->
    </div>
    <!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:include="common/header :: header">
            <!--/*-->
            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform" action="../index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..."/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="badge">2</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">2 Newly Registered Users</h5>
                                <ul class="dropdown-list user-list">
                                    <li class="new">
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user1.png"
                                                                           alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Draniem Daamul (@draniem)</a> <span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new">
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user2.png"
                                                                           alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Zaham Sindilmaca (@zaham)</a> <span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user3.png"
                                                                           alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Weno Carasbong (@wenocar)</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user4.png"
                                                                           alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Nusja Nawancali (@nusja)</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb"><a href=""><img src="../../assets/images/photos/user5.png"
                                                                           alt=""/></a></div>
                                        <div class="desc">
                                            <h5><a href="">Lane Kitmari (@lane_kitmare)</a></h5>
                                        </div>
                                    </li>
                                    <li class="new"><a href="">See All Users</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="badge">1</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 1 New Message</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user1.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user2.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Weno Carasbong</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user4.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user5.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Veno Leongal</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">Read All Messages</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-globe"></i>
                                <span class="badge">5</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 5 New Notifications</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user4.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user5.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                      <span class="msg">likes your recent status</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">downloaded your work</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../../assets/images/photos/user3.png" alt=""/></span>
                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">send you 2 messages</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">See All Notifications</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../../assets/images/photos/loggeduser.png" alt=""/>
                                John Doe
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button id="chatview" class="btn btn-default tp-icon chat-icon">
                            <i class="glyphicon glyphicon-comment"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- header-right -->
            <!--*/-->
        </div>
        <!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-search"></i> 代理商列表</h2>
        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div>
                    <!-- panel-btns -->
                    <h3 class="panel-title">搜索</h3>

                    <form id="searchForm" action="agent_list.html" th:action="@{/agents}" method="get"
                          th:object="${agentSearch}">
                        <input type="hidden" name="pageNo" id="pageNo" value="1" th:value="${currentPage}"/>

                        <p>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    代理商姓名
                                </span>
                                    <input type="text" name="agentName" th:value="*{agentName}" class="form-control"
                                           aria-label="...">
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    创建时间
                                </span>
                                    <input type="text" class="form-control" placeholder="起始时间" name="beginTime"
                                           th:value="*{beginTime}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" class="form-control" placeholder="结束时间" name="endTime"
                                           th:value="*{endTime}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>


                        </p>
                        <p>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="input-group">
                               <span class="input-group-addon">
                                    代理商类型
                                </span>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="typeSelectBtn"
                                                style="width: 128px;"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                th:text="*{agentType}==-1 ? '请选择':(*{agentType}==0 ? '普通代理':'独家代理')">请选择
                                            <span class="caret"></span></button>
                                        <ul id="typeSelect" class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" type-value="-1">请选择</a></li>
                                            <li><a href="#" type-value="0">普通代理</a></li>
                                            <li><a href="#" type-value="1">独家代理</a></li>
                                        </ul>
                                        <input type="hidden" name="agentType" th:value="*{agentType}"/>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                               <span class="input-group-addon">
                                    代理商等级
                                </span>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                id="levelSelectBtn" style="width: 163px;"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!--/*-->
                                            请选择
                                            <!--*/-->
                                            <!--/*/
                                            <span th:text="*{agentLevel == -1 ? '请选择' : (agentLevel == 0 ? '一级代理' : '二级代理')}"></span>
                                            /*/-->
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="levelSelect" class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" level="-1">请选择</a></li>

                                            <li th:each="agentLevel:${agentLevels}">
                                                <a href="#" th:attr="level=${agentLevel.level}" level="0"
                                                   th:text="${agentLevel.levelName}">一级代理商</a>
                                            </li>
                                        </ul>

                                        <input type="hidden" name="agentLevel" th:value="*{agentLevel}"/>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-lg-2">
                                <a class="btn btn-white submitSearch" href="javascript:search()">查询</a>
                            </div>

                            <div class="col-lg-2">
                                <a class="btn btn-white resetSearch" href="agent_list.html"
                                   th:href="@{/agents}">显示全部</a>
                            </div>
                        </div>
                        </p>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb30">
                            <thead>
                            <tr>
                                <th></th>
                                <th>代理商名称</th>
                                <th>代理商类型</th>
                                <!--<th>代理商等级</th>-->
                                <!--<th>上级代理</th>-->
                                <th>区域</th>
                                <th>账户余额</th>
                                <!--<th>佣金</th>-->
                                <th>创建时间</th>
                                <th>代理商状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">

                            <tr th:each="agent,agentStat:${agents}">
                                <td th:text="${agentStat.index+1}">1</td>
                                <td th:text="${agent.name}">火图科技</td>
                                <td th:text="${agent.type.name}">独家代理</td>
                                <!--<td th:text="${agent.level.levelName}">一级代理商</td>-->
                                <!--<td th:text="${agent.parent==null?'总部':agent.parent.name}">总部</td>-->
                                <td th:if="${agent.type.value} == 2" th:text="${agent.province}">杭州</td>
                                <td th:if="${agent.type.value} == 1" th:text="${agent.province+'/'+agent.city}">杭州</td>
                                <td th:if="${agent.type.value} == 0" th:text="${agent.province+'/'+agent.city+'/'+agent.district}">杭州</td>
                                <td th:text="${agent.balance}">1000</td>
                                <!--<td th:text="${agent.commission}">88</td>-->
                                <td th:text="${#dates.format(agent.createTime,'yyyy-MM-dd HH:mm:ss')}">2015-12-12
                                    00:00:00
                                </td>
                                <td th:text="${agent.getStatus()}">活动</td>
                                <td>
                                    <a onclick="editAgent(this)" th:attr="id=${agent.id}">修改</a>&nbsp;&nbsp;
                                    <a onclick="showDetail(this)" th:attr="id=${agent.id}">查看</a>
                                    <a onclick="recharge(this)" th:attr="id=${agent.id}">充值</a>
                                    <a onclick="resetPassword(this)" th:attr="id=${agent.id}">重置密码</a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>火图科技</td>
                                <td>独家代理</td>
                                <!--<td>一级代理商</td>-->
                                <td>总部</td>
                                <td>杭州</td>
                                <td>1000</td>
                                <!--<td>88</td>-->
                                <td>2015-12-12 00:00:00</td>
                                <td>活动</td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>火图科技</td>
                                <td>独家代理</td>
                                <!--<td>一级代理商</td>-->
                                <td>总部</td>
                                <td>杭州</td>
                                <td>1000</td>
                                <!--<td>88</td>-->
                                <td>2015-12-12 00:00:00</td>
                                <td>活动</td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive -->
                    <p style="float: left;margin: 20px 0;">
                        共<!--/*-->10<!--*/--><!--/*/[[${totalPages}]]/*/-->页
                    </p>
                    <ul class="pagination nomargin pull-right">
                        <li th:if="${hasPrevious}"><a href="#"
                                                      th:href="${hasPrevious} ? |javascript:jump(${currentPage-1})|">上一页</a>
                        </li>
                        <li th:if="${hasPrevious}"><a href="#" th:href="${hasPrevious} ? |javascript:jump(1)|">首页</a>
                        </li>
                        <li th:each="page:${pageNos}" th:class="${page}==${currentPage} ? active"><a href="#"
                                                                                                     th:href="|javascript:jump(${page})|"
                                                                                                     th:text="${page}">1</a>
                        </li>
                        <!--/*-->
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <!--*/-->
                        <li th:if="${hasNext}"><a href="#"
                                                  th:href="${hasNext} ? |javascript:jump(${totalPages})|">尾页</a></li>
                        <li th:if="${hasNext}"><a href="#" th:href="${hasNext} ? |javascript:jump(${currentPage+1})|">下一页</a>
                        </li>
                    </ul>
                </div>
                <!-- panel-body -->
            </div>
            <!-- panel -->

        </div>
        <!-- contentpanel -->

    </div>
    <!-- mainpanel -->

    <div class="rightpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
            <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
            <li><a href="#rp-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
            <li><a href="#rp-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <!--/*-->
        <div class="tab-content">
            <div class="tab-pane active" id="rp-alluser">
                <h5 class="sidebartitle">Online Users</h5>
                <ul class="chatuserlist">
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/userprofile.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Eileen Sideways</strong>
                                <small>Los Angeles, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user1.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <span class="pull-right badge badge-danger">2</span>
                                <strong>Zaham Sindilmaca</strong>
                                <small>San Francisco, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user2.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Nusja Nawancali</strong>
                                <small>Bangkok, Thailand</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user3.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Renov Leongal</strong>
                                <small>Cebu City, Philippines</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user4.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Weno Carasbong</strong>
                                <small>Tokyo, Japan</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                </ul>

                <div class="mb30"></div>

                <h5 class="sidebartitle">Offline Users</h5>
                <ul class="chatuserlist">
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user5.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Eileen Sideways</strong>
                                <small>Los Angeles, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user2.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Zaham Sindilmaca</strong>
                                <small>San Francisco, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user3.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Nusja Nawancali</strong>
                                <small>Bangkok, Thailand</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user4.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Renov Leongal</strong>
                                <small>Cebu City, Philippines</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user5.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Weno Carasbong</strong>
                                <small>Tokyo, Japan</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user4.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Renov Leongal</strong>
                                <small>Cebu City, Philippines</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user5.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Weno Carasbong</strong>
                                <small>Tokyo, Japan</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="rp-favorites">
                <h5 class="sidebartitle">Favorites</h5>
                <ul class="chatuserlist">
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user2.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Eileen Sideways</strong>
                                <small>Los Angeles, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user1.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Zaham Sindilmaca</strong>
                                <small>San Francisco, CA</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user3.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Nusja Nawancali</strong>
                                <small>Bangkok, Thailand</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user4.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Renov Leongal</strong>
                                <small>Cebu City, Philippines</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user5.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Weno Carasbong</strong>
                                <small>Tokyo, Japan</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="rp-history">
                <h5 class="sidebartitle">History</h5>
                <ul class="chatuserlist">
                    <li class="online">
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user4.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Eileen Sideways</strong>
                                <small>Hi hello, ctc?... would you mind if I go to your...</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user2.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Zaham Sindilmaca</strong>
                                <small>This is to inform you that your product that we...</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                    <li>
                        <div class="media">
                            <a href="#" class="pull-left media-thumb">
                                <img alt="" src="images/photos/user3.png" class="media-object">
                            </a>

                            <div class="media-body">
                                <strong>Nusja Nawancali</strong>
                                <small>Are you willing to have a long term relat...</small>
                            </div>
                        </div>
                        <!-- media -->
                    </li>
                </ul>
            </div>
            <div class="tab-pane pane-settings" id="rp-settings">

                <h5 class="sidebartitle mb20">Settings</h5>

                <div class="form-group">
                    <label class="col-xs-8 control-label">Show Offline Users</label>

                    <div class="col-xs-4 control-label">
                        <div class="toggle toggle-success"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-8 control-label">Enable History</label>

                    <div class="col-xs-4 control-label">
                        <div class="toggle toggle-success"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-8 control-label">Show Full Name</label>

                    <div class="col-xs-4 control-label">
                        <div class="toggle-chat1 toggle-success"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-8 control-label">Show Location</label>

                    <div class="col-xs-4 control-label">
                        <div class="toggle toggle-success"></div>
                    </div>
                </div>

            </div>
            <!-- tab-pane -->

        </div>
        <!--*/-->
        <!-- tab-content -->
    </div>
    <!-- rightpanel -->

</section>

<!--基本js-->
<script src="../../assets/js/jquery-1.10.2.min.js" th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script src="../../assets/js/jquery-migrate-1.2.1.min.js" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../../assets/js/jquery-ui-1.10.3.min.js" th:src="@{/assets/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../assets/js/modernizr.min.js" th:src="@{/assets/js/modernizr.min.js}"></script>

<!--框架基础js-->
<script src="../../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

<script src="../../assets/js/bootstrap.hot.extras.js" th:src="@{/assets/js/bootstrap.hot.extras.js}"></script>
<script src="../../assets/js/hot/jquery.utils.js" th:src="@{/assets/js/hot/jquery.utils.js}"></script>
<script src="../../assets/layer/layer.js" th:src="@{/assets/layer/layer.js}"></script>
<script src="../../assets/layer/extend/layer.ext.js" th:src="@{/assets/layer/extend/layer.ext.js}"></script>

<script type="application/javascript" th:inline="javascript">
    var pageNo = /*[[${currentPage}]]*/ 1;
    var totalPages = /*[[${totalPages}]]*/ 2;
    var totalRecords = /*[[${totalRecords}]]*/ 10;
    var url = /*[[@{/}]]*/"/";
</script>
<script>
    function recharge(obj) {
        var id = $(obj).attr("id");
        layer.prompt({
            title:"请输入充值金额",
            formType:0
        },function(money) {
            var reg = new RegExp("^[0-9]*$");
            if(!reg.test(money)){
                layer.alert("请输入数字!");
                return;
            }
            $.ajax({
                url:url + "recharge",
                type:"POST",
                data:{
                    id:id,
                    money:money
                },
                dataType:"json",
                success:function(data) {
                    if(data.code == 2000) {
                        location.reload();
                    }else {
                        layer.alert(data.msg);
                    }
                }
            });
        });
    }
    function resetPassword(obj) {
        var id = $(obj).attr("id");
        layer.prompt({
            title:"请输入新密码",
            formType:1
        },function(password) {
            $.ajax({
                url:url + "resetPassword/",
                type:"POST",
                data:{
                    id:id,
                    password:password
                },
                dataType:"json",
                success:function(data) {
                    if(data.code == 2000) {
                        layer.msg("重置成功");
                    }else {
                        layer.alert(data.msg);
                    }
                }
            })
        });
    }
    function editAgent(obj) {
        var id = $(obj).attr("id");
        location.href = url + "agentEdit/" + id;
    }
    function showDetail(obj) {
        var id = $(obj).attr("id");
        layer.open({
            type: 2,
            title: '代理商详情',
            shadeClose: true,
            shade: 0.8,
            area: ['400px', '70%'],
            content: url +'agents/' + id
        });
    }
    function search() {
        $("#pageNo").val(1);
        $('#searchForm').submit();
    }
</script>
<script>
    function jump(obj) {
        $("input[name=pageNo]").val(obj);
        $("#searchForm").submit();
    }
    jQuery(document).ready(function () {
        // Date Picker
        $('input[name=beginTime]').datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#endTime").datepicker("option", "minDate", selectedDate);
            }
        });

        $("input[name=endTime]").datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#beginTime").datepicker("option", "maxDate", selectedDate);
            }
        });

        var currentLevelId = $("input[name=level]").val();
        if (currentLevelId != "" && currentLevelId != null)
            $("#levelSelectBtn").html($("#levelSelect a[level=" + currentLevelId + "]").html());
        var currentAgentType = $("input[name=type]").val();
        if (currentAgentType != "" && currentAgentType != null);
        $("#typeSelectBtn").html($("#typeSelect a[type-value=" + currentAgentType + "]").html());

        $("#typeSelect li a").click(function () {
            $("#typeSelectBtn").html($(this).html());
            $("input[name=agentType]").val($(this).attr("type-value"));
        });

        $("#levelSelect li a").click(function () {
            $("#levelSelectBtn").html($(this).html());
            $("input[name=agentLevel]").val($(this).attr("level"));
        });
    });
</script>

</body>
</html>
