<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>代理商详情</title>
    <link href="../../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default panel-alt widget-messaging">
        <div class="panel-body">
            <ul class="list-group"  data-th-object="${agent}">
                <li class="list-group-item">
                    代理商名称：<span data-th-text="*{name}">火图科技</span>
                </li>
                <li class="list-group-item">
                    代理商级别：<span data-th-text="*{level.levelName}">一级代理商</span>
                </li>
                <li class="list-group-item">
                    代理类型：<span data-th-text="*{type.name}">独家代理</span>
                </li>
                <li class="list-group-item">
                    代理区域：<span data-th-text="*{province+' '+city+' '+district}">浙江省</span>
                </li>
                <li class="list-group-item">
                    联系人：<span data-th-text="*{contacts}">何芸</span>
                </li>
                <li class="list-group-item">
                    联系方式：<span data-th-text="*{phoneNo}">13205713331</span>
                </li>
                <li class="list-group-item">
                    邮箱：<span data-th-text="*{mail}">13205713331@qq.com</span>
                </li>
                <li class="list-group-item">
                    联系地址：<span data-th-text="*{address}">13205713331@qq.com</span>
                </li>
                <li class="list-group-item">
                    QQ：<span data-th-text="*{qq}">444444444</span>
                </li>
                <li class="list-group-item">
                    是否可发展下级代理：<span data-th-text="*{expandable==true ? '是':'否'}">是</span>
                </li>
                <li class="list-group-item">
                    账户余额：<span style="color: red" data-th-text="*{balance}">10000元</span>
                </li>
                <li class="list-group-item">
                    账户佣金：<span style="color: red" data-th-text="*{commission}">10000元</span>
                </li>
                <li class="list-group-item">
                    企业资质：<img src="img/a.jpg" data-th-src="*{qualifyUri}" />
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../assets/js/jquery-1.10.2.min.js" th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>