<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>代理商详情</title>
    <link href="../../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul style="list-style: none">
                <li>
                    代理商名称：<span>火图科技</span>
                </li>
                <li>
                    代理商级别：<span>一级代理商</span>
                </li>
                <li>
                    代理类型：<span>独家代理</span>
                </li>
                <li>
                    代理区域：<span>浙江省</span>
                </li>
                <li>
                    联系人：<span>何芸</span>
                </li>
                <li>
                    联系方式：<span>13205713331</span>
                </li>
                <li>
                    邮箱：<span>13205713331@qq.com</span>
                </li>
                <li>
                    联系地址：<span>13205713331@qq.com</span>
                </li>
                <li>
                    QQ：<span>444444444</span>
                </li>
                <li>
                    联系地址：<span>13205713331@qq.com</span>
                </li>
                <li>
                    账户余额：<span style="color: red">10000元</span>
                </li>
                <li>
                    账户佣金：<span style="color: red">10000元</span>
                </li>
                <li>
                    企业资质：<img src="img/a.jpg" alt='' />
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>