<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="loginError" type="java.lang.String"*/-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">

    <title>代理商管理后台登录</title>

    <link href="../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="signin">


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="signinpanel">

        <div class="row">

            <div class="col-md-7">

                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> 伙伴plus代理商管理后台 <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    <h5><strong>欢迎来到火图代理商平台</strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> 一站式全方位的代理商管理方案</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> 每日新增代理数，代理总数动态更新</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> 余额、佣金收支情况一目了然</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> 数据统计，报表生成轻松搞定</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> 管理代理商只需鼠标点一点，So Eesy!</li>
                    </ul>
                    <div class="mb20"></div>

                </div><!-- signin0-info -->

            </div><!-- col-sm-7 -->

            <div class="col-md-5">

                <form id="loginForm" method="post" action="login.html" th:action="@{/login}">
                    <h4 class="nomargin">登陆</h4>

                    <p class="mt5 mb20">代理商管理后台登录</p>

                    <input name="username" type="text" class="form-control uname" placeholder="账号"/>

                    <input name="password" type="password" class="form-control pword" placeholder="密码"/>

                    <p></p>

                    <p id="loginError" style="color: #B94A48;" th:text="${loginError}">登录失败</p>
                    <button onclick="loginHandler.login()" class="btn btn-success btn-block">登录</button>

                </form>
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                Copyright©2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-5
            </div>
            <div class="pull-right">
                技术提供: <a href="http://www.huobanplus.com/" target="_blank">火图科技</a>
            </div>
        </div>

    </div><!-- signin -->

</section>


<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
<script src="../assets/js/jquery.sparkline.min.js" th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script src="../assets/js/toggles.min.js" th:src="@{/assets/js/toggles.min.js}"></script>
<script src="http://cdn.bootcss.com/retina.js/1.3.0/retina.min.js"></script>
<script src="../assets/js/jquery.cookies.js" th:src="@{/assets/js/jquery.cookies.js}"></script>

<script src="../assets/js/jquery.validate.min.js" th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script src="../assets/js/msgresource/jquery.validation.message-zh_cn.js" th:src="@{/assets/js/msgresource/jquery.validation.message-zh_cn.js}"></script>

<script src="../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
<script type="text/javascript">
    $(function () {
        loginHandler.initPage();
    });
    var loginHandler = {
        initPage: function () {
            $("input[name=username]").focus();

            $("#loginForm").validate({
                ignoreTitle: true,
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).remove();
                },
                onfocusout: function (element) {
                    $(element).valid();
                },
                rules: {
                    username: "required",
                    password: "required"
                },
                messages: {
                    username: "请输入管理员帐号",
                    password: "请输入登录密码"
                }
            });
        },
        login: function () {
            $("#loginForm").submit();
        }
    }
</script>

</body>
</html>
