<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/png" th:href="@{/assets/images/favicon.png}">

    <title>新增客户</title>


    <link rel="stylesheet" href="../../assets/css/style.default.css" th:href="@{/assets/css/style.default.css}"/>

    <link rel="stylesheet" href="../../assets/libs/layer/skin/layer.css" th:href="@{/assets/libs/layer/skin/layer.css}"/>

    <link rel="stylesheet" href="../../assets/css/bootstrap-fileupload.min.css" th:href="@{/assets/css/bootstrap-fileupload.min.css}"/>

</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
    <!--<div class="leftpanel" th:replace="views/common/left :: left (activeMenu='showProducts')">-->
    <!--</div>&lt;!&ndash; leftpanel &ndash;&gt;-->

    <div class="mainpanel">

        <!--<div class="headerbar" th:replace="views/common/header :: header">-->

        <!--</div>&lt;!&ndash; headerbar &ndash;&gt;-->

        <!--<div class="pageheader">-->
            <!--<h2><i class="fa fa-edit"></i> 客户管理</h2>-->

        <!--</div>-->

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div>
                    <h4 class="panel-title">新增客户</h4>
                </div>
                <div class="panel-body panel-body-nopadding">

                    <form id="editForm" th:method="post" class="form-horizontal form-bordered">
                        <input type="hidden" name="balance" id="balance" th:value="${balance}" value="0">
                        <input type="hidden" name="flag" id="flag" th:value="${flag}" value="0">
                        <input type="hidden" name="price" id="price" th:value="${price}" value="0">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户名称<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="name" id="name" title="客户名称" placeholder="客户名称" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司名称<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="company" id="company" title="公司名称" placeholder="公司名称" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品名称</label>

                            <div class="col-sm-2">
                                <select name="product" id="product" title="产品名称" class="form-control mb10">
                                    <!--<option  th:each="product:${productList}" th:value="${product.id}"  th:text="${product.name}">伙伴商城</option>-->
                                    <option th:value="${product.id}" th:text="${product.name}">伙伴商城</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品版本</label>

                            <div class="col-sm-2">
                                <select name="productId" id="productId" title="产品版本" class="form-control mb10" onchange="change(this)">
                                    <option  th:each="product:${agentProductList}" th:value="${product.productId}"  th:attr="price=${product.productPrice}"  th:text="${product.ProductName}">伙伴商城</option>
                                    <!--<option th:value="${product.id}" th:text="${product.name}">伙伴商城</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品单价</label>

                            <div class="col-sm-2">
                                    <input type="text" name="OncePrice" id="OncePrice" th:value="${price}" title="产品单价"  class="form-control" readonly/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系方式<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="phoneNo" id="phoneNo" title="联系方式" placeholder="联系方式" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系人<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="contacts" id="contacts" title="联系人" placeholder="联系人" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">伙伴商城登录账号<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="loginName" id="loginName" title="登录名" placeholder="登录账号" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">伙伴商城登录密码<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="loginPassword" id="loginPassword" title="登录密码" placeholder="登录密码" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">伙伴商城登录域名<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="loginUrl" id="loginUrl" title="伙伴商城登录域名" placeholder="伙伴商城登录域名" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">商城名称<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="mallName" id="mallName" title="商城名称" placeholder="商城名称" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">主营产品<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="mallProducts" id="mallProducts" title="主营产品" placeholder="主营产品" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">运营方式<span class="asterisk">*</span></label>

                            <div class="col-sm-6">
                                <input type="text" name="operation" id="operation" title="主营产品" placeholder="主营产品" class="form-control"/>
                            </div>
                        </div>

                    </form>

                </div><!-- panel-body -->

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button onclick="editHandler.submit()" class="btn btn-primary" id="jq-agent-Save">确认</button>
                        </div>
                    </div>
                </div><!-- panel-footer -->

            </div><!-- panel -->
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->


</section>
<script src="../../assets/js/jquery-1.10.2.min.js" th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script src="../../assets/js/jquery-migrate-1.2.1.min.js" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../../assets/js/jquery-ui-1.10.3.min.js" th:src="@{/assets/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../assets/js/jquery.sparkline.min.js" th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script src="../../assets/js/toggles.min.js" th:src="@{/assets/js/toggles.min.js}"></script>
<script src="../../assets/js/retina.min.js" th:src="@{/assets/js/retina.min.js}"></script>
<script src="../../assets/js/jquery.cookies.js" th:src="@{/assets/js/jquery.cookies.js}"></script>

<script src="../../assets/libs/layer/layer.js" th:src="@{/assets/libs/layer/layer.js}"></script>
<script src="../../assets/js/bootstrap-fileupload.min.js" th:src="@{/assets/js/bootstrap-fileupload.min.js}"></script>
<script src="../../assets/js/bootstrap-timepicker.min.js" th:src="@{/assets/js/bootstrap-timepicker.min.js}"></script>

<script src="../../assets/js/jquery.validate.min.js" th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script src="../../assets/js/msgresource/jquery.validation.message-zh_cn.js" th:src="@{/assets/js/msgresource/jquery.validation.message-zh_cn.js}"></script>

<script src="../../assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

<script type="application/javascript" th:inline="javascript">
    var customerUrl = /*[[@{/}]]*/"/";
</script>


<script type="text/javascript">
    $(function () {
        editHandler.pageInit();
    });

    var editHandler = {
        pageInit: function () {
            //表单验证初始化
            $("#editForm").validate({
                ignoreTitle: true,
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).remove();
                },
                onfocusout: function (element) {
                    $(element).valid();
                },
                rules: {
                    name: {
                        required : true
                    },
                    company: {
                        required : true
                    },
                    phoneNo: {
                        required : true
                    },
                    loginName: {
                        required : true,
//                        account : true
                    },
                    loginPassword: {
                        required : true
                    },
                    loginUrl: {
                        required : true,
                        url:true
                    },
                    mallName: {
                        required : true
                    },
                    mallProducts: {
                        required : true
                    },
                    operation: {
                        required : true
                    },
                    contacts: {
                        required : true
                    }
                },
                messages: {
                    name: {
                        required : "请输入客户名称",
                    },
                    company: {
                        required : "请输入公司名称",
                    },
                    phoneNo: {
                        required : "请输入联系方式",
                    },
                    loginName: {
                        required : "请输入登录账号",
                    },
                    loginPassword: {
                        required : "请输入登录密码",
                    },
                    loginUrl: {
                        required : "请输入登录域名",
                        url:"请输入正确域名",
                    },
                    mallName: {
                        required : "请输入商城名称",
                    },
                    mallProducts: {
                        required : "请输入主营产品",
                    },
                    operation: {
                        required : "请输入运营方式",
                    },
                    contacts: {
                        required : "请输入联系人",
                    }

                },
                submitHandler: function (form, ev) {
                    $("#jq-agent-Save").addClass("disabled");
                    huoban_buy();
                    return false;
                },
                invalidHandler: function () {
                    return true;
                }
            });
        },
        submit: function () {
            $("#editForm").submit();
        }
    }
</script>
<script>

    function change(obj){//切换产品版本时改对应价格

        var price = $("#productId").find("option:selected").attr("price");
        $("#OncePrice").val(price);

    }
    function huoban_buy(){
        $.ajax({
            url: customerUrl+"saveHuoban",
            data: {
                name:$("#name").val(),
                company:$("#company").val(),
                productId:$("#productId").val(),
                productList:$("#productList").val(),
//                count:$("#count").val(),
                contacts:$("#contacts").val(),
                phoneNo:$("#phoneNo").val(),
                loginName:$("#loginName").val(),
                operation:$("#operation").val(),
                mallProducts:$("#mallProducts").val(),
                mallName:$("#mallName").val(),
                loginUrl:$("#loginUrl").val(),
                loginPassword:$("#loginPassword").val()
            },
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                var index=parseInt(msg.code);
                switch (index) {
                    case 2000:
                        layer.msg("添加成功,2秒后将自动关闭页面", {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            parent.location.reload();
                        });
                        break;
                    case 4001:
                        layer.msg("您的账户余额不足", {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）

                        }, function(){
                            $("#jq-agent-Save").removeClass("disabled");
                      });
                        break;
                }
            },
            error: function () {

            }
        });
    }
</script>

</body>
</html>
